.planning-tool-header {
    display: flex;
    flex-direction: column;
}

.header-flex {
    width: 100%;
    position: relative;
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    font-family: Figtree;
    color: #212529;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.subheader-flex {
    width: 100%;
    position: relative;
    font-size: 13px;
    line-height: 150%;
    font-family: Figtree;
    color: #6c757d;
    text-align: left;
    font-weight: 300;
    display: inline-block;
}

.table-header-class {
    position: relative;
    font-size: 12px;
    line-height: 150%;
    font-weight: 600;
    font-family: Figtree;
    color: #6c757d;
    text-align: left;
}

.label-size {
    position: relative;
    font-size: 13px;
    line-height: 150%;
    font-family: Figtree;
    color: #212529;
    text-align: left;
}

.modals-headers {
    display: flex;
    flex-direction: row;
}

.header-subheader-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    font-family: Figtree;
    color: #212529;
    text-align: left;

}
.font-size-16px{
    font-size: 13px;
}