.goal-align-labels{
position: relative;
font-size: 14px;
line-height: 20px;
font-family: Figtree;
color: #6c757d;
text-align: left;
display: inline-block;
mix-blend-mode: normal;
}
.goal-align-header{
  display:flex;
  flex-direction: row;
}
.saveButton{
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px 16px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-family: Figtree;
  
}
.colorBtn {
  background-color: #407fff;
  cursor:pointer
}

.greyBtn {
  background-color: #9b9898;
  cursor:default;
}